.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Entities.Barcode.d
Entities.Barcode.o
Entities.Barcode.swiftdeps
Entities.Category.d
Entities.Category.o
Entities.Category.swiftdeps
Entities.d
Entities.Image.d
Entities.Image.o
Entities.Image.swiftdeps
Entities.Item.d
Entities.Item.o
Entities.Item.swiftdeps
Entities.ItemBarcode.d
Entities.ItemBarcode.o
Entities.ItemBarcode.swiftdeps
Entities.ItemCategory.d
Entities.ItemCategory.o
Entities.ItemCategory.swiftdeps
Entities.ItemImage.d
Entities.ItemImage.o
Entities.ItemImage.swiftdeps
Entities.o
Entities.swiftdeps
